<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nivetha.cs478.picturegallery">
    <permission android:name="com.nivetha.cs478.ACCESS_GALLERY"
        android:description="@string/DangerousPermission"
        android:label="Dangerous Permission"
        android:protectionLevel="dangerous" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.nivetha.cs478.ACCESS_GALLERY"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:label="myReceiver"
            android:enabled="true"
            android:name="MyReceiver"
            android:exported="true" >
            <intent-filter >
                <action android:name="com.nivetha.cs478.PictureGallery.START_GALLERY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
    <!--
    Nivetha Babu
    -->